*{
    margin: 0;
    padding: 0;
    box-sizing: border-box
}
body{
    background: rgb(78, 121, 216);
    font-family: 'Roboto Condensed', sans-serif
}
.hide{
    display: none
}
.container-flex{
    display: flex
}
.logo{
    height:80px;
    margin: 50px 0 50px 0;
    position: relative
}
.container{
    text-align: center
}
.input-container{
    height: 50px;
    line-height: 50px
}
.input-container i{
    padding-right: 8px
}
.input-to-do{
    height: 40px;
    width: 480px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 2px 10px 2px 10px;
    font-size: 20px
}
.add-button{
    padding: 0 15px 0 15px;
    border-radius: 7px;
    border: none;
    background: #057035;
    color: #fff;
    font-size: 15px;
    margin-left: 25px;
    line-height: 50px
}
.add-button:hover,
.icon-div:hover{
    cursor: pointer
}
.add-button:active{
    background: #001533;
    scale: 1.1;
}
.list-container{
    min-height: 400px;
    width: 700px;
    background: #fff;
    margin: 50px auto 50px auto;
    padding: 40px;
    background: #91e4b6;
    border-radius: 20px;
    color: #fff
}
.list-container .container-flex{
    justify-content: space-between
}
.list-container ul{
    list-style: none;
    text-align: left;
    color: #fff;
    font-size: 25px
}
.list-container ul li{
    padding: 10px 0 10px 0;
    border-bottom: 1px solid green;
    line-height: medium
}
.list-container ul li span{
    text-align: right;
    line-height: medium
}
.list-title h2{
    font-size: 40px;
}
.icon-div i:hover{
    color: #001533
}
.warning{
    text-align: left;
    margin: 0 auto;
    width: 500px;
    color: rgb(160, 29, 29);
    font-size: 13px;
    line-height: 10px
}
.fade-enter-active, .fade-leave-active {
    transition: opacity .5s;
  }