<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css">
    <link rel="stylesheet" href="css/style.css">
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <title>ToDo List</title>
</head>
<body>
    
    <div class="container">
        <div class="logo-container">
            <a href="https://www.boolean.careers/"><img src="img/logo.png" class="logo"></a>
        </div>
        <div id="app">
            <div class="input-container">
                <div :class="warningClass" v-model="warningText"><i class="fas fa-exclamation-triangle"></i>{{warningText}}</div>
                <input placeholder="Inserisci un item!" class="input-to-do" v-model="newWord" @keyup.enter="control">
                <button class="add-button" v-on:click="control">Aggiungi</button>
            </div>
            <div class="list-container">
                <div class="list-title"><span>La tua lista</span></div>
                <ul>
                    <li class="container-flex" v-for="(element, index) in wordsList"><span>{{element}}</span><span class="hid" @click="exClick(index)"><i class="fas fa-times"></i></span></li>
                </ul>
            </div>
        </div>
    </div>
    <script src="js/script.js"></script>

</body>
</html>